.ProfileAndName {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 8px 12px 12px gray;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 0 0 15px 0;
}
.profilePic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.ProfileAndName h1 {
  width: 100%;
  background: -webkit-linear-gradient(0deg, #FD7238, #FD7238);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.ProfileAndName p {
  width: 100%;
  font-size: small;
  color: black;
  text-align: center;
}

.hide .aside{
  display: none;
}

/* Ensure the logo container takes full width and centers content */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Optional: Adjust spacing if needed */
}

/* Style for the toggle button */
.logo-toggle {
  display: none; /* Hide the button by default */
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
}

/* Toggle the visibility of the logo */
#logo-img.hidden {
  display: none;
}


/* .links {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}
.links .link {
  width: 80%;
  height: 40px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  font-weight: bold;
  background-color: white;
  box-shadow: 4px 8px 8px rgba(128, 128, 128, 0.466);
  border-radius: 12px;
  transition: ease 0.5s;
}
.a:hover {
  transform: scale(1.01);
  color: orangered;
  font-weight: bold;
  box-shadow: 8px 12px 12px gray;
}
.activeHai{
  box-shadow: 4px 8px 8px rgb(255, 106, 7);
}
.links .link a span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links .link a h2 {
  width: 150px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */
@media only screen and (max-width: 950px) {
  .aside {
    display: none;
    width: 100%;
  }

  .just {
    display: none;
  }
}
